@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@1,300&display=swap');


:root {
  --light_white: #f7f7f7;
  --black: #000;
  --white: #fff;
  --orange: #ff402d;
  --light_gray: #414243;
  --heading_color: #002a6e;
  --heading-font-family: 'Montserrat', sans-serif;
  --paragraph-font: Poppins, sans-serif;
}
@font-face {
  font-family: 'Roboto1';
  src: url('../fonts/KoHo-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto2';
  src: url('../fonts/KoHo-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

img {
  pointer-events: none
}


* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.feilds {
  display: flex;
  justify-content: flex-start;
  gap: 89px;
}

.feild-heading {
  margin-bottom: 10px;
  color: #242424;
  font-weight: 700;
  font-size: 17px;
  font-family: 'Roboto2';
}

.feild-item label {
  color: #0404047a;
  font-size: 17px;
  font-weight: 400;
  user-select: none;
  font-family: 'Roboto1';
}

.dimension input {
  width: 100%;
  padding: 5px;
  outline: none;
  border-radius: 0;
  margin-bottom: 20px;
  background: transparent;
  border: 2px solid #0000001c;
}

.dimension label {
  color: #242424;
  font-size: 18px;
  font-weight: 700;
  user-select: none;
}

.dimension label span {
  color: #ae1e1e;
}

.heading {
  color: #242424;
  font-size: 30px;
  border-bottom: 1px solid #000;
  padding: 10px 0;
  margin-bottom: 30px;
  font-family: 'Roboto2';
}

.btn {
  background-color: #e12f2f;
  color: #fff;
  border-radius: 0;
  padding: 10px 28px;
  margin: 10px 5px;
  font-weight: 700;
}

.btn:hover {
  color: #fff;
}

.chart-form {
  border: 4px solid #ae1e1e;
  border-radius: 0px;
  padding: 40px 0;
  /* box-shadow: 0px 0px 10px 4px #ae1e1e; */
}

section.charts {
  padding: 70px 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/images/hall-tank-grid-bg4.webp);
}

.dimension-box--action {
  display: none;
}

.dimension-box--action.show {
  display: block;
}

.dimension-box--prev.hide {
  display: none;
}

.section-heading .sub-heading {
  text-decoration: underline;
  font-family: roboto2;
}

.section-heading h6 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.section-heading {
  padding-top: 20px;
}

section.hall-tank {
  padding: 70px 0;
  font-family: 'Inconsolata', monospace;
}

.table td,
.table th {
  font-size: 13px;
  padding: 5px 10px;
  text-align: center;
  border: none;
  font-family: 'Inconsolata', monospace;
  font-weight: 600;
}

.table th {
  font-weight: 800;
  font-size: 14px;
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul.header-main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  gap: 24px;
}


a.header-logo img {
  width: 199px;
}

ul.header-main-nav li a {
  color: #000;
  text-decoration: none;
  font-family: Roboto2;
  position: relative;
}
.banner_title {
  text-align: center;
  padding: 66px 0px;
  color: #fff;
}

.banner {
  background: #000;
  margin-bottom: 12px;
}

.banner_title h2 {
  font-size: 60px;
  font-family: Roboto2;
}

.banner_title p a {
  color: #fff;
  font-family: 'Roboto1';
  text-decoration: none;
  transition: 500ms;
}
.contact_btn span {
  font-family: 'Roboto2';
}

.contact_btn a {
  color: #000;
  font-size: 18px;
}

.header_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  gap:10px;
}
ul.header-main-nav li a::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0px;
  height: 3px;
  background: #ee1b24;
  transition: all 300ms ease-in-out;
  border-radius: 10px;
}

ul.header-main-nav li a:hover::before {
  width: 100%;
}
.banner_title p a:hover {
  color: #ee1b24;
}

.banner_title p {
  font-family: 'Roboto1';
}
.header-main-border {
  padding: 5px 0px;
}
footer {
  padding-top: 49px;
  background: #000;
  margin-top: 15px;
  color: #fff;
}

.link_title h3 {
  font-family: 'Roboto2';
  font-size: 23px;
}

.link_title ul li a {
  color: #fff;
  font-family: 'Roboto1';
}

.link_title ul li {
  margin-bottom: 9px;
  transition: 500ms;
}
.footer_logo img {
  width: 256px;
}
.copyright {
  text-align: center;
  border-top: 1px solid;
  margin: 0;
}

.copyright p {
  margin: 0;
  padding: 26px 0px;
  font-family: 'Roboto1';
}
input.length {
  width: 440px !important;
}
.checkbox {
  font-family: 'Roboto1';
  font-size: 16px;
}

.checkbox input {
  margin-right: 5px;
}


.link_title ul li a:hover { 
  text-decoration: none;
  color: #ee1b24;
}

.link_title ul li:hover {
  transform: translateX(10px);
}

.table td, .table th {
  font-size: 13px;
  padding: 5px 10px;
  text-align: center; 
  font-family: 'Inconsolata', monospace;
  font-weight: 600;
}

.hall-tank .table tr th {
  border: 0;
}

.hall-tank .table tr th:nth-child(even) {
  border-right: 2px solid #404040;
}

.hall-tank .table tr th:last-child {
  border: 0;
}

.hall-tank .table tr td:nth-child(even) {
  border-right: 2px solid #404040;
}

.hall-tank .table tr td {
  border: 0;
  font-family: 'Roboto2';
  font-size: 15px;
}

.hall-tank .table tr td:last-child {
  border: 0;
}
.section-heading.text-center p {
  font-size: 16px;
  font-weight: 700;
}
.form_data {
  text-align: center;
  margin-bottom: 41px;
}

.form_data p {
  /* font-family: 'Roboto1'; */
  font-size: 20px;
  font-weight: 400;
}
.table_data ul {
  /*display: flex;*/
  justify-content: space-around;
  align-items: center;
  margin: 0;
  /* float: left; */
  display: inline-block;
  width: 150px;
  padding: 0 0 10px 0px;
}

.table_data ul li {
  font-size: 13px;
  font-weight: 400;
  color: #000;
  padding: 0px 10px;
  text-align: left !important;
}
.table_data ul li.heading {
    font-size: 16px;
    margin-bottom: 10px;
    padding: 6px 8px;
    text-align: left !important;
}
.table_data ul li span {float:right;text-align: right;}

.table_data ul span {
  /* width: 1px; */
  /* height: 27px; */
  /* background: #000; */
}
.table_data {
  border-bottom: 1px solid;
  text-align: center;
}
.data {
  display: flex;
  justify-content: space-evenly;
  gap: 34px;
  /* width: 173px; */
  /* align-items: center; */
  margin: 0;
  border-bottom: 1px solid #000;
}

ul.Gallons_ul::after {
  content: '';
  position: absolute;
  top: -25px;
  right: -23px;
  width: 1px;
  height: 112%;
  background: #000;
}

ul.Gallons_ul {
  position: relative;
}
.copyright_chart {
  text-align: center;
  padding: 16px 0px;
}

.copyright_chart p {
  font-size: 12px;
  margin: 0;
} 

.table_data ul:nth-child(1) {
    border-right: 1px solid #000;
    /* padding: 0 10px; */
    text-align: left !important;
}
.table_data ul:nth-child(2) {
    border-right: 1px solid #000;
    /* padding: 0 10px; */
}
.table_data ul:nth-child(3) {
    border-right: 1px solid #000;
    /* padding: 0 10px; */
}