/* Root Styling */
:root {
    --c10: #0071dc;
    --c20: #163ec2;
}


/* <============================--- crat page css start -----=========================================> */

.car_img {
    width: 139px;
    height: 136px;
    overflow: hidden;
}

.car_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cart_main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.cart_cont h4 {
    font-size: 23px;
}

.cart_cont span {
    text-decoration: line-through !important;
}

h3.cart_pricing {
    font-size: 27px;
}

.cart_pro {
    float: right;
    display: grid;
}

.cart_pro p {
    text-align: right;
}

.cart_pro select {
    float: right;
    padding: 7px 40px;
    border-radius: 50px;
    margin: 10px 0px;
    outline: 0;
}

.quientity_main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 57px;
    margin-top: 14px;
}

.quientity {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.quientity input {
    width: 30px;
    text-align: center;
    outline: 0;
    border: none;
}

.quientity_main button {
    background: red;
    color: #fff;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50px;
}
hr.cart_hr {
    background: #000;
}

section.breadcumb {
    padding: 162px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 27px;
}
/* <============================--- crat page css end -----=========================================> */




/* <============================--- checkout page css start -----=========================================> */


/* <============================--- checkout page css end -----=========================================> */






/* <============================--- product-details page css start -----=========================================> */


/* <============================--- product-details page css end -----=========================================> */





/* <============================--- product page css start -----=========================================> */

/* <============================--- product page css end -----=========================================> */





/* <============================--- inner page css start -----=========================================> */

/* <============================--- inner page css end -----=========================================> */